<style>
    .custom-heading {
        font-weight:bold!important;
        margin-bottom:15px;
    }
    .custom-footer {
        font-weight:bold;
    }

    .custom-label {
        font-size: 1rem;
    }
    .custom-border-bottom {
        border-bottom: 1px solid #999999;
    }

    th, td {line-height:32px!important;padding-top:5px;}
</style>

<div id="spoonboy-report">

    <div id="report-header">
        <div class="break-container intro-stats">
            <div class="count-stats">

                <div class="stats-container">
	                <span class="big-stat">
                        {{header.0.dataMap.expiredUsers}}
                    </span>
                    <span class="stat-label">
		                Password Expired Users
	                </span>
                </div>

            </div>
        </div>
    </div>

    <div id="report-main">
        <table class="table table-striped custom-border-bottom">
            <thead>
            <th class="custom-heading" style="width:10%">Username</th>
            <th class="custom-heading" style="width:10%">Email Address</th>
            <th class="custom-heading" style="width:25%">Account Created</th>
            <th class="custom-heading" style="width:25%">Last Login</th>
            <th class="custom-heading" style="width:10%">Password Expired</th>
            </thead>
            <tbody>
            {{#each main}}
                <tr>
                    <td>{{dataMap.username}}</td>
                    <td><a href="mailto:{{dataMap.email}}">{{dataMap.email}}</a></td>
                    <td>{{dataMap.created}}</td>
                    <td>{{dataMap.lastLogin}}</td>
                    <td>{{dataMap.expired}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>